.aboutMe {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    &__content {
        display: flex;
        flex-direction: column;

        &__paragraph {
            font-size: 18px;
            line-height: 1.25;
        }

        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 18px;
            color: lightslategrey;

            a {
                font-size: 18px;
                text-decoration: none;
                margin-left: 10px;
            }
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 25px;

        &__icon {
            cursor: pointer;

            &:hover {
                filter: drop-shadow(1px 1px 1px gray);
            }
        }
    }

    @media (max-width: 1200px) {
        width: 800px;
    }
}

#chess {
    color: #769656;
}

#duolingo {
    color: #58cc02;
}

#facebook {
    color: #1877f2;
}

#github {
    color: #333;
}

#linkedin {
    color: #0077b5;
}
