.alarmManager {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buttonWrapper {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 40px;
        
        @media (min-width: 1000px) {
            width: 840px;
        }

        @media (max-width: 1000px) {
            width: 640px;
        }

        .button {
            padding: 20px 40px;
            border-radius: 14px;
            font-size: 28px;
            background-color: green;
        }
    }
}
