<main class="alarmManager content">
    @for (alarm of schedules(); track alarm.day) {
        <app-alarm 
            [day]="alarm.day" 
            [hour]="alarm.hour" 
            [minute]="alarm.minute" 
            [enabled]="alarm.enabled" 
            (onHourChanged)="setHour(alarm.day, $event)" 
            (onMinuteChanged)="setMinute(alarm.day, $event)"
            (onEnabledChanged)="setEnabled(alarm.day, $event)"
        ></app-alarm>
    }
    <div class="alarmManager__buttonWrapper">
        <button class="button">Save</button>
    </div>
</main>