.alarm {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    background: #8a2be2;
    padding: 20px;
    border-radius: 14px;
    color: white;
    font-weight: 700;

    &__inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        &__label {
            font-size: 28px;
        }

        &__input {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 6px;;
            background-color: #aa4bf2;

            &__value {
                font-size: 28px;
                text-align: center;
                width: 40px;
            }

            &__buttonsWrapper {
                display: flex;
                flex-direction: column;

                &__button {
                    background-color: rgba($color: #000000, $alpha: 0.0);
                    border-width: 0;
                    cursor: pointer;
                    color: white;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;

                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
            }
        }
    }
}
