.greetings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    &__form {
        display: flex;
        flex-direction: column;
        background-color: blue;
        padding: 20px;
        border-radius: 14px;
        color: white;

        &__textarea {
            border: none;
            outline: none;
            border-radius: 14px;
            padding: 10px;
            font-size: 18px;
            resize: none;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        gap: 10px;
        font-size: 20px;
        width: 140px;
    }

    @media (min-width: 1000px) {
        width: 840px;
    }

    @media (max-width: 1000px) {
        width: 640px;
    }
}
