<main class="greetings" [formGroup]="form">
    <div class="greetings__form">
        <h2 class="greetings__form__header">Send me a greeting!</h2>
        <textarea
            placeholder="Let me know what you think. Or maybe who you are..."
            class="greetings__form__textarea"
            [formControl]="form.controls.text"></textarea>
    </div>
    <button class="button greetings__button" [disabled]="form.controls.text.value.trim() === ''" (click)="send()">
        Send
        <fa-icon class="greetings__sendIcon" [icon]="faPaperPlane" size="sm" />
    </button>
</main>
