.inputWrapper {
    display: flex;
    flex-direction: row;
    background-color: #c51d4a;

    &__label {
        font-weight: 700;
        font-style: italic;
    }

    &__input {
        font-weight: 400;
        border-radius: 5px;
        border: 5px solid black;
    }
}
