<div class="alarm">
    <div class="alarm__inputWrapper">
        <span class="alarm__inputWrapper__label">Hour</span>
        <div class="alarm__inputWrapper__input">
            <span class="alarm__inputWrapper__input__value">09</span>
            <div class="alarm__inputWrapper__input__buttonsWrapper">
                <button class="alarm__inputWrapper__input__buttonsWrapper__button">&#11205;</button>
                <button class="alarm__inputWrapper__input__buttonsWrapper__button">&#11206;</button>
            </div>
        </div>
    </div>
    <div class="alarm__inputWrapper">
        <span class="alarm__inputWrapper__label">Minute</span>
        <div class="alarm__inputWrapper__input">
            <span class="alarm__inputWrapper__input__value">30</span>
            <div class="alarm__inputWrapper__input__buttonsWrapper">
                <button class="alarm__inputWrapper__input__buttonsWrapper__button">&#11205;</button>
                <button class="alarm__inputWrapper__input__buttonsWrapper__button">&#11206;</button>
            </div>
        </div>
    </div>
</div>
