.header {
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: #c51d4a;

    &__banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 12px 12px 24px 24px;

        &__img {
            height: 40px;
        }

        &__name {
            margin: 0;
            padding-top: 10px;
            font-size: 32px;
            font-weight: 700;
            color: white;
        }
    }

    &__tabs {
        display: flex;
        flex-direction: row;
        gap: 40px;

        &__tab {
            display: flex;
            align-items: flex-end;
            font-size: 24px;
            color: white;
            padding: 0 20px 24px 20px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                border-bottom: 6px solid blue;
                transition: 0.05s;
            }
        }
    }

    &__logout {
        display: flex;
        align-self: center;
        color: white;
        cursor: pointer;
        padding: 12px;
    }
}
