<main class="loginPage">
    <img class="loginPage__logo" src="raspberry-pi.svg" alt="logo" />
    <div class="loginPage__content">
        <div class="loginPage__content__title">Sign in to see the live video stream</div>
        <form class="loginPage__content__form" [formGroup]="form" (submit)="onSubmit()">
            <div class="inputWrapper">
                <label class="inputWrapper__label" for="username">Username:</label>
                <input [formControl]="form.controls.username" class="inputWrapper__input" id="username" type="text" />
            </div>
            <div class="inputWrapper">
                <label class="inputWrapper__label" for="password">Password:</label>
                <input [formControl]="form.controls.password" class="inputWrapper__input" id="password" type="password" />
            </div>
            <button class="button">Enter</button>
        </form>
        @if (error()) {
        <p style="color: red">{{ error() }}</p>
        }
    </div>
</main>
