<main class="main">
    <div class="content">
        <div>Sign in to see the live video stream</div>
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="inputWrapper">
                <label class="inputWrapper__label" for="username">Username:</label>
                <input [formControl]="form.controls.username" class="inputWrapper__input" id="username" type="text" />
            </div>
            <div class="inputWrapper">
                <label class="inputWrapper__label" for="password">Password:</label>
                <input [formControl]="form.controls.password" class="inputWrapper__input" id="password" type="password" />
            </div>
            <button [disabled]="!form.valid" class="button">Enter</button>
        </form>
        @if (error()) {
            <p style="color: red">{{ error() }}</p>
        }
    </div>
</main>