.stats {
    display: flex;
    position: relative;
    
    &__tab {
        color: white;
    
    }

    &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 30px;
        background-color: white;
        padding: 10px;
        border: 2px solid #fe8e16;
        border-radius: 14px;
        top: 62px;
        left: -350px;
        z-index: 10;
        background: repeating-linear-gradient(
            to right,
            #fdd,
            white,
            #def,
            white
        );
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        font-size: 16px;
        width: 180px;
    }


}

#icon__cpu {
    color: #c51d4a;
}

#icon__sun {
    color: #99f;
}

#icon__bluetooth {
    color: #0082FC;
}

#vline {
    border: 1px solid lightgray;
}