* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: blue;
    padding: 8px;
    border-width: 0;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 0, 200);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: rgb(100, 100, 200);
    }
}
